.vs
CMakeUserPresets.json
CMakeSettings.json
CMakeLists.txt.user
out
build
github.txt
assets/CA
assets/SQLAPI_installers
assets/app-data/provider/log
/source/source/3party/grpc
/source/source/3party
/source/backend/source/3party/SQLAPI
/assets/app-data/provider/provider.json
